/* CSS HEX
--night: #101010ff;
--royal-blue-traditional: #172867ff;
--fire-engine-red: #D03022ff;
--xanthous: #F3B949ff;
--maize: #FFF25Eff;
--white: #FFFFFFff; */

body{
    overflow: scroll;
}
.NavBar{
    font-family: Helvetica;
}
h4{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    margin: 0%;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}
nav{
    background-color:white;
    overflow: hidden;

 
}
nav a{
    font-family: Helvetica, sans-serif;
    color:  #172867ff;
    text-decoration: none;
    font-size: 30px;
    float: left;
    padding: 20px;
}
nav a img{
/* no use yet */
padding: 0%;
}
nav a:hover {
    background-color: rgb(71, 99, 202);
    color: white;
}
nav a img:hover {
    background-color: #172867ff;
    color: white;
}
#Logo{
    margin: 0%;
    padding: 0%;
    border: 0%;
    width: 200px;
}
#Video{
    width: 100%;
    
}
.text{
    font-size: medium;
    font-family: helvetica;

}
h2{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 img{
    margin-right: 30px;
}
#big{
    font-size: xx-large;
}